@import "tailwindcss";
@plugin "daisyui" {
    themes: retro --default;
}

html {
    @apply scroll-smooth overflow-x-hidden;
}

@layer utilities {
    .square-header {
        @apply relative;
        padding-left: 1em;
    }

    .square-header::before {
        content: "";
        @apply absolute left-0 bg-base-content rounded-sm;
        width: 0.6em;
        height: 0.6em;
        top: 50%;
        transform: translateY(-0.26em);
    }

    /* Markdown */
    .markdown ol {
        @apply list-decimal list-inside mb-2;
    }

    .markdown ul {
        @apply list-disc list-inside mb-2;
    }

    .markdown h1 {
        @apply text-2xl md:text-3xl font-bold mt-4 mb-2;
    }

    .markdown h2 {
        @apply text-xl md:text-2xl font-bold mt-4 mb-2;
    }

    .markdown p {
        @apply mb-2;
    }

    .markdown hr {
        @apply my-6;
    }
}
